<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyb.mobileshop.dao.MsGoodsLikeMapper">
  <resultMap id="BaseResultMap" type="com.zyb.mobileshop.entity.MsGoodsLike">
    <id column="like_id" jdbcType="INTEGER" property="likeId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="creatime" jdbcType="TIMESTAMP" property="creatime" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    like_id, goods_id, member_id, creatime, modifytime
  </sql>
  <select id="selectByExample" parameterType="com.zyb.mobileshop.entity.MsGoodsLikeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ms_goods_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ms_goods_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ms_goods_like
    where like_id = #{likeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zyb.mobileshop.entity.MsGoodsLikeExample">
    delete from ms_goods_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zyb.mobileshop.entity.MsGoodsLike">
    insert into ms_goods_like (like_id, goods_id, member_id, 
      creatime, modifytime)
    values (#{likeId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, 
      #{creatime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zyb.mobileshop.entity.MsGoodsLike">
    insert into ms_goods_like
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="likeId != null">
        like_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="creatime != null">
        creatime,
      </if>
      <if test="modifytime != null">
        modifytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="likeId != null">
        #{likeId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="creatime != null">
        #{creatime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyb.mobileshop.entity.MsGoodsLikeExample" resultType="java.lang.Long">
    select count(*) from ms_goods_like
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ms_goods_like
    <set>
      <if test="record.likeId != null">
        like_id = #{record.likeId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.memberId != null">
        member_id = #{record.memberId,jdbcType=INTEGER},
      </if>
      <if test="record.creatime != null">
        creatime = #{record.creatime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifytime != null">
        modifytime = #{record.modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ms_goods_like
    set like_id = #{record.likeId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      member_id = #{record.memberId,jdbcType=INTEGER},
      creatime = #{record.creatime,jdbcType=TIMESTAMP},
      modifytime = #{record.modifytime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyb.mobileshop.entity.MsGoodsLike">
    update ms_goods_like
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="creatime != null">
        creatime = #{creatime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyb.mobileshop.entity.MsGoodsLike">
    update ms_goods_like
    set goods_id = #{goodsId,jdbcType=INTEGER},
      member_id = #{memberId,jdbcType=INTEGER},
      creatime = #{creatime,jdbcType=TIMESTAMP},
      modifytime = #{modifytime,jdbcType=TIMESTAMP}
    where like_id = #{likeId,jdbcType=INTEGER}
  </update>
  <select id="findRepeat" parameterType="map" resultType="com.zyb.mobileshop.entity.MsGoodsLike" resultMap="BaseResultMap">
    select * from ms_goods_like where goods_id =#{goodsId} and member_id = #{memberId}
  </select>
</mapper>